/*body {
  font-family: 'Bree Serif', serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .larger {
    height: 100px;
    width: 300px;
    font-size: 30px;
  }

  .mainTitle {
    font-size: 40px;
  }

  .mainTitleLink {
    text-decoration: none;
  }

  .noMargin {
    margin: 0;
  }

  .marginLeft {
    margin-left: 10px;
  }

  .whatsYourName {
    font-size: 50px;
    margin: 0;
  }

  .fadeIn-appear {
    opacity: 0.01;
  }

  .fadeIn-appear.fadeIn-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .validationSpan {
    border: 0;
    padding: 0;
    margin: 5px;
    background-color: transparent
  }
  .quit {
    margin-top: 2%;
    float: left;
  }

  .blue {
    color: blue;
  }

  .red {
    color: red;
  }

  .green {
    color: green;
  }

  .grey {
    color: grey;
  }

  .name {
    display: inline;
  }

  .load {
    margin: 5px 5px 0 5px;
  }
}

.chatbox {
  border: 1px solid #c4c5c6;
  border-radius: 10px;
  height: 400px;
  padding: 0;
  overflow: none;
  display: flex;
  flex-direction: column-reverse;
  input:focus {outline: none};
  font-size: 1.5em;
}

.chatinput {
  border: transparent;
  width: 100%;
  background-color: transparent;
  padding: 7px;
  border-top: 1px solid #c4c5c6;
}

.messagesUl {
  padding: 10px;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.messageLi {
  list-style: none;
  text-align: left;
}

.messageFrom {
  color: blue;
}

@media (max-width: 767px) {
  .chatbox {
    margin: 10px;
    font-size: 2em;
  }

}
.playerScoreFlexBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: space-around;
  flex-direction: row;
}
.gameForm{
  align-content: center;
}
// .gameFormContainer{
//   width: 100%;
// }
.gameAnswerFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.stageWrapper {
  margin-bottom: 20px;
}

#inputAnswer {
  background-color: transparent;
  border: none;
  color: white;
}

.memeForm {
  margin: 0px;
}

.memeories {
  color: #ff9966;
}

.catText {
  color: #ff3385;
}

.catRow {
  display: flex;
  justify-content: center;
}

.winningMeme {
  color: red;
}

.lineAndButtons {
  display: flex;
}

.scoreText{
  cursor:'pointer';
  margin: 3px;
}

.left {
  float: left;
}*/

.right {
  float: right;
}

.center {
  justify-content: center;
}

@media (min-width: 800px) {
  .endOfGameRoom {
    margin-bottom: 25px;
  }
  .btn-block {
    max-width: 50%;
  }
}



/*Loading Icon Animation*/
$spin-duration: 1s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

.loadingRed {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: .15rem solid #ff0000;
    border-top-color: #ffffff;
    animation: spin $spin-duration infinite linear;
}

.loadingBlue {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: .15rem solid #0000ff;
    border-top-color: #ffffff;
    animation: spin $spin-duration infinite linear;
}

.notEnoughPeople {
  font-style: italic;
  color: #ff0000;
}
