body {
  font-family: 'Bree Serif', serif;
  background-color: #FFDEDE;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .larger {
    height: 100px;
    width: 300px;
    font-size: 30px;
  }

  .mainTitle {
    font-size: 40px;
  }

  .mainTitleLink {
    text-decoration: none;
  }

  .noMargin {
    margin: 0;
  }

  .marginLeft {
    margin-left: 10px;
  }

  .whatsYourName {
    font-size: 50px;
    margin: 0;
  }

  .fadeIn-appear {
    opacity: 0.01;
  }

  .fadeIn-appear.fadeIn-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .validationSpan {
    border: 0;
    padding: 0;
    margin: 5px;
    background-color: transparent
  }
}

.chatbox {
  border: 1px solid #c4c5c6;
  border-radius: 10px;
  height: 400px;
  padding: 0;
  overflow: none;
  display: flex;
  flex-direction: column-reverse;
  input:focus {outline: none};
  font-size: 1.5em;
}

.chatinput {
  border: transparent;
  width: 100%;
  background-color: transparent;
  padding: 7px;
  border-top: 1px solid #c4c5c6;
}

.messagesUl {
  padding: 10px;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.messageLi {
  list-style: none;
  text-align: left;
}

.messageFrom {
  color: blue;
}

@media (max-width: 767px) {
  .chatbox {
    margin: 50px;
    font-size: 2em;
  }
}
.playerScoreFlexBox{
  display: flex;
  justify-content: space-around;
}
