body {
  font-family: 'Bree Serif', serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .larger {
    height: 100px;
    width: 300px;
    font-size: 30px;
  }

  .mainTitle {
    font-size: 40px;
  }

  .mainTitleLink {
    text-decoration: none;
  }

  .noMargin {
    margin: 0;
  }

  .marginLeft {
    margin-left: 10px;
  }

  .whatsYourName {
    font-size: 50px;
    margin: 0;
  }

  .example-appear {
    opacity: 0.01;
  }

  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .validationSpan {
    /*background-color: transparent;*/
    border: 0;
    padding: 0;
    margin: 5px;
    background-color: transparent
  }

  .emptySpan {
    border: 0;
    padding: 0;
    margin: 5px;
    /*background-color: transparent;*/
  }
}
