.chatbox {
  height: 350px;
  padding: 0;
  width: 80%;
  justify-content: center;
  overflow: none;
  display: flex;
  flex-direction: column-reverse;
  input:focus {outline: none};
  font-size: 1.5em;
  background-color: #36375D;
  padding: 0px;
}

.chatinput {
  border: transparent;
  width: 100%;
  background-color: rgb(42, 42, 67);
  padding: 7px;
  color:white;
}

.messagesUl {
  padding: 10px;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: auto;
  color: white;
}

.messageLi {
  list-style: none;
  text-align: left;
}

.messageFrom {
  color: #43A4B0;
}

@media (max-width: 767px) {
  .chatbox {
    margin: 10px;
    font-size: 2em;
  }

}
