.createGame {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.createText {
  font-size: 45px;
  color: #337ab7;
  text-align: center;
}

.create-game-form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectCatText {
  font-size: 30px;
  margin-top: 0;
}

.enter-custom-categories {
  display: flex;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
}

.createGameBtn {
  font-size: 1.8rem;
  border-radius: 0;
  width: 100%;
  margin: 0;
  border: 3px solid #337ab7;
  color: white;
  height: 5rem;
}

.createGameBtn:hover {
  cursor: pointer;
  margin: 0;
  height: 5rem;
  color: #337ab7;
  margin-top: 0;
  border: 3px solid white;
}

.create-category-btn {
  height: 3rem;
  margin-right: 0;
  margin-top: 0;
  border: 1.5px solid white;
}

.create-category-btn:visited {
  height: 3rem;
  margin-right: 0;
  margin-top: 0;
  border: 1.5px solid white;
}


.create-category-btn:hover {
  height: 3rem;
  margin-right: 0;
  margin-top: 0;
  border: 1.5px solid #337ab7;
}

.create-category-btn:disabled {
  margin-right: 0;
  margin-top: 0;
  border: 1.5px solid grey;
}

.create-icon {
  line-height: 0;
}

.enter-category {
  margin: 0;
  height: 3rem;
  border: 1.5px solid white;
}

.check {
  width: 1.5rem;
}

.check:hover {
  background: none;
}

input[type="checkbox"] + label span:hover  {
  border-radius: 0;
}

input[type="checkbox"] + label span:hover  {
  border-radius: 0;
  background-color: none;
}

.check:selected {
  background: none;
}