.createGame {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.createText {
  font-size: 45px;
  color: #337ab7;
  text-align: center;
}

.selectCatText {
  font-size: 30px;
}

.enter-custom-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.createGameBtn {
  font-size: 1.8rem;
  border-radius: 0;
  width: 100%;
  margin: 0;
  border: 3px solid #337ab7;
  color: white;
  height: 5rem;
}

.createGameBtn:hover {
  cursor: pointer;
  margin: 0;
  height: 5rem;
  border: 3px solid white;
  color: #337ab7;
}

.create-category-btn {
  height: 4rem;
  margin-right: 0;
}

.create-category-btn:hover {
  height: 4rem;
  margin-right: 0;
}

.enter-category {
  margin: 0;
  height: 4rem;
}

.check {
  width: 1.5rem;
}

.check:hover {
  background: none;
}

input[type="checkbox"] + label span:hover  {
  border-radius: 0;
}

input[type="checkbox"] + label span:hover  {
  border-radius: 0;
  background-color: none;
}

.check:selected {
  background: none;
}