.createGame {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.createText {
  font-size: 45px;
  color: #337ab7;
}

.selectCatText {
  font-size: 30px;
}

.enter-custom-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.createGameBtn {
  font-size: 1.8rem;
  border-radius: 0;
  width: 100%;
  margin: 0;
}

.createGameBtn:hover {
  cursor: pointer;
  margin: 0;
}

.create-category-btn {
  margin-left: 2rem;
  height: 47px;
}

.create-category-btn:hover {
  margin-left: 2rem;
  height: 47px;
}

.enter-category {
  margin: 0;
}