.whatsYourName {
  font-size: 50px;
  margin: 0;
}

.validationSpan {
  border: 0;
  padding: 0;
  margin: 5px;
  background-color: transparent
}

.form-container {
  display: flex;
}

.nameRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
