.whatsYourName {
  margin: 0;
}

.insRow {
  display: flex;
  justify-content: flex-end;
}

.btn-info {
  background-color: #43A4B0;
}

.instructions {
  color: black;
  font-weight: 100;
}

.bannerRow {
  display: flex;
  justify-content: center;
}

.entryBanner {
  height: 60%;
  width: 60%;
  justify-content: center;
}

.validationSpan {
  border: 0;
  padding: 0;
  margin: 5px;
  background-color: transparent
}

.nameRow, .explanation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
