.gameForm{
  align-content: center;
}

.answeringFlex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameAnswerFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 0 15px;
}

#inputAnswer {
  background-color: transparent;
  border: none;
  color: white;
}

.memeForm {
  margin: 0px;
}

.winningMeme {
  color: red;
}

.memeInput {
  width: 40vw;
  border: 1.5px solid white;
}

.submit-meme-btn {
  border: 3px solid #337ab7;
  color: white;
}

.submit-meme-btn:hover {
  border: 3px solid white;
  color: #337ab7;
}

.plus {
  font-size: 3rem;
  border: none;
  color: #339933;
  margin: 0;
}

.plus:hover {
  font-size: 3rem;
  border: none;
  margin: 0;
}

.minus {
  font-size: 3rem;
  border: none;
  margin-left: 0;
  color: #ff3385;
  margin: 0;
}

.minus:hover {
  font-size: 3rem;
  border: none;
  margin: 0;
}

.lineAndButtons {
  display: flex;
  align-items: center;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  justify-content: center;
}

.room-code-div {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.get-friends {
  color: #ff3385;
  font-style: italic;
}

.gameboard-flexbox {
  display: flex;
}

@media (min-width: 800px) {
  .endOfGameRoom {
    margin-bottom: 25px;
  }
  .btn-block {
    max-width: 50%;
  }
}

.game-play {
  width: 100%;
}

.player-waiting-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-submissions-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}