.gameForm{
  align-content: center;
}

.answeringFlex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameAnswerFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

#inputAnswer {
  background-color: transparent;
  border: none;
  color: white;
}

.memeForm {
  margin: 0px;
}

.winningMeme {
  color: red;
}

.memeInput {
  width: 40vw;
}

.plus {
  font-size: 3rem;
  border: none;
  color: #339933;
  margin: 0;
}

.plus:hover {
  font-size: 3rem;
  border: none;
  margin: 0;
}

.minus {
  font-size: 3rem;
  border: none;
  margin-left: 0;
  color: #ff3385;
  margin: 0;
}

.minus:hover {
  font-size: 3rem;
  border: none;
  margin: 0;
}

.lineAndButtons {
  display: flex;
  align-items: center;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  justify-content: center;
}

.room-code-div {
  text-align: center;
}

.get-friends {
  color: #ff3385;
  font-style: italic;
}

.gameboard-flexbox {
  display: flex;
}

@media (min-width: 800px) {
  .endOfGameRoom {
    margin-bottom: 25px;
  }
  .btn-block {
    max-width: 50%;
  }
}

.game-play {
  width: 100%;
}
