.homeBtns {
  border-radius: 0px;
  background-color: #36375D;
  color: #f7941d;
  font-weight: 900;
  width: 200px;
  height: 50px;
  font-size: 20px;
  float: center;
}

.buttonBox {
  padding: 0px;
}

.marginBottom {
  margin-bottom: 40px;
}

.marginTop {
  margin-top: 40px;
}

.logoBanner {
  width: 60%;
  height: 60%;
}

.btn-info {
  background-color: #43A4B0;
}

@media (max-width: 767px) {
  .chatWrapper {
    display: flex;
    justify-content: center;
  }
}
