.heeboFont {
  font-weight: 900;
}

.bannerRow {
  justify-content: center;
}

.chatboxRow {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.chatWrapper {
  display: flex;
  justify-content: center;
}

.defaultHomeBtns {
  border-radius: 0px;
  width: 173px;
  height: 50px;
  font-family: 'Jura';
  font-size: 2.3rem;
}

.homeBtns {
  border-radius: 0px;
  display: inline-block;
  text-align: center;
  height: 50px;
  font-family: 'Jura';
  font-size: 2.3rem;
  color: #337ab7;
}

.buttonBox {
  padding: 0px;
  margin-top: 10vh;
}

.marginBottom {
  margin-bottom: 40px;
}

.marginTop {
  margin-top: 40px;
}

.logoBanner {
  width: 60%;
  height: 60%;
}
