@import "chatbox";
@import "canvas";
@import "enterName";
@import "gameRoom"

body {
  font-family: 'Bree Serif', serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .larger {
    height: 100px;
    width: 300px;
    font-size: 30px;
  }

  .mainTitle {
    font-size: 40px;
  }

  .mainTitleLink {
    text-decoration: none;
  }

  .noMargin {
    margin: 0;
  }

  .marginLeft {
    margin-left: 10px;
  }
}

.playerScoreFlexBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: space-around;
  flex-direction: row;
}
.gameForm{
  align-content: center;
}
// .gameFormContainer{
//   width: 100%;
// }
.gameAnswerFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

#inputAnswer {
  background-color: transparent;
  border: none;
  color: white;
}

.memeForm {
  margin: 0px;
}

.memeories {
  color: #ff9966;
}

.catText {
  color: #ff3385;
}

.catRow {
  display: flex;
  justify-content: center;
}

.winningMeme {
  color: red;
}

.lineAndButtons {
  display: flex;
}

.scoreText{
  cursor:'pointer';
  margin: 3px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  justify-content: center;
}

@media (min-width: 800px) {
  .endOfGameRoom {
    margin-bottom: 25px;
  }
  .btn-block {
    max-width: 50%;
  }
}



/*Loading Icon Animation*/
$spin-duration: 1s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

.loadingRed {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: .15rem solid #ff0000;
    border-top-color: #ffffff;
    animation: spin $spin-duration infinite linear;
}

.loadingBlue {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: .15rem solid #0000ff;
    border-top-color: #ffffff;
    animation: spin $spin-duration infinite linear;
}
