@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import url('https://fonts.googleapis.com/css?family=Jura:light');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#app {
  min-height: 100vh;
  position: relative;
}

.container-fluid {
  height: 100%;
}

.quit {
  margin-top: 2%;
  float: left;
  vertical-align: middle;
}


::selection {
  background-color: rgba(255,255,255,.99);
  color: black;
}

::-webkit-selection {
  background-color: rgba(255,255,255,.99);
  background: white;
  color: black;
}

::-moz-selection {
  background-color: rgba(255,255,255,1);
  background: white;
  color: black;
}


body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: white;

  h1 {
    font-family: 'Orbitron'
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .larger {
    height: 100px;
    width: 300px;
    font-size: 30px;
  }

  .mainTitle {
    font-size: 40px;
  }

  .mainTitleLink {
    text-decoration: none;
  }

  .noMargin {
    margin: 0;
  }
}

.max-width-850 {
  @media (min-width: 992px) {
    width: 850px;
  }

/*  @media (min-width: 1200px) {
    width: 800px;
  }*/
}

/*CONNIE STUFF*/

* {
  box-sizing: border-box;
  font-family: 'Raleway';
  background: black;
  color: white;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Jura';
  padding: 0 0.5rem;
  color: white;
  background: black;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  text-align: center;
}

.absolute {
  position: absolute;
}

.nav {
  top: 1.3rem;
  right: 1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.vertical-center-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60vh;
  margin: 0;
}

.white-on-black {
  color: white;
  background: black;
}

.black-on-white {
  color: black;
  background: white;
}

.material-icons:hover {
  /*color: blue;*/
  cursor: pointer;
}

.input {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 0;
  height: 47px;
  color: white;
  text-align: left;
}

.input:focus {
  border-color: white;
}

.btn {
  color: #337ab7;
  font-size: 1.8rem;
  margin: 0.9rem;
  border: 3px solid white;
  border-radius: 0;
}

.btn:hover {
  color: white;
  cursor: pointer;
  margin: 0.9rem;
  border: 3px solid #337ab7;
}

.btn:disabled {
  border: 3px solid #666666;
  color: #666666;
  cursor: not-allowed;
  margin: 0.9rem;
}


.header {
  font-size: 3rem;
  margin-top: 0;
}

input {
  font-size: 1.5rem;
  width: 50vw;
  max-width: 28rem;
  border: 1px solid;
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
}

input:focus {
  outline: none;
}

.inline {
  display: inline;
}

.messages {
  margin: 0 1.5rem;
  font-size: 1.5rem;
}

.chat-input-group {
  justify-content: space-around;
  border-top: 1px solid;
}

.chat-input-group>input {
  border: none;
}

.fadeIn-appear {
  opacity: 0.01;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin: auto;
}

.center-items-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBtn {
  font-size: 1.5rem;
  border: 0;
  font-family: 'Jura';
  padding: 4vh;
  padding-right: 0;
  padding-left: 0;
}

.footerBtn:hover {
  cursor: pointer;
  color: #337ab7;
  border: 0;
  padding: 4vh;
  padding-right: 0;
  padding-left: 0;
}

.validation {
  color: #ff3385;
  font-style: italic;
  font-size: 14px;
}

.data-reactroot {
  display: flex;
  align-items: center;
}

.display-bottom {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  padding: 4vh;
}

.contact-name {
  margin-bottom: 0;
}

.contact-info {
  margin: 0;
  display: inline;
}

.contact-divider {
  color: white;
}

.contact-link:hover {
  text-decoration: none;
  color:white;
}

.contact-link:visited {
  text-decoration: none;
}

.contact-div {
  width:100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

/*.contact-header-flex {
  display: flex;
  flex-wrap: wrap;
}*/

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    /*-webkit-appearance:none;*/
}

@import "chatbox";
@import "canvas";
@import "enterName";
@import "gameRoom";
@import "navbar";
@import "typingIndicator";
@import "home";
@import "createGame";
@import "joinGame";
@import "pregame";
@import "instructions";
@import "scoreboard";
@import "judgement";
