.instructions {
  color: black;
  font-weight: 100;
}

.instructionsHeader {
  border-color: transparent;
}

.instructionsBody {
  background-opacity: 0.5;
  background-color: white;
}

.instructions {
  background-color: white;
  color: black;
}

.instructionsHeaderText {
  background-color: transparent;
  color: black;
}

.padding {
  padding: 7vw;
}