.instructions {
  color: black;
  font-weight: 100;
}

.instructionsHeader {
  background-color: #666666;
  border-color: transparent;
}

.instructionsBody {
  background-opacity: 0.5;
  border-color: transparent;
}


.instructionsHeaderText {
  font-family: 'Orbitron';
}

.instructionsPanel {
  border-color: #666666
}

.panel {
  background-color: #666666
}

.panel-heading {
  background-color: #666666 !important
}

.panel-default {
  background-color: #666666
}