.navbarBlue {
  background-color: #43A4B0;
}

.welcomeTxt {
  float: left;
}

.chevronTabs {
  justify-content: center;
}

.chevron {
  height: 5%;
  width: 5%;
  transform: translateX(-50%) rotate(-90deg);
}
