.roomCode {
  text-align: center;
  font-size: 75px;
  font-style: bold;
}

.startBtn {
  display: flex;
  justify-content: center;
}

.gameRoomChat, .playersRow {
  display: flex;
  justify-content: center;
  text-align: center;
}
