/*Scoreboard Header*/

.timer {
  font-size: 5rem;
  text-align: center;
  @media (max-width: 580px) {
    font-size: 4rem;
  }
}

.round-timer-container {
  height: 8rem;
  background-color: #333333;
  margin: 0 4rem;
}

.timer-div {
  width: 102px;
}

.round-category-div {
  background-color: transparent;
}

.round {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  background-color: transparent;
  font-size: 2.3rem;
  @media (max-width: 580px) {
    font-size: 1.6rem;
  }
}

.category {
  color: #337ab7; 
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  background-color: transparent;
  font-size: 2.3rem;
  @media (max-width: 580px) {
    font-size: 1.6rem;
  }
}


/*Players & Scores*/
.blue {
  color: #337ab7;
}

.red {
  color: #ff3385;
}

.green {
  color: #339933;
}

.grey {
  color: grey;
}

.name {
  display: inline;
}

.scoreText {
  cursor:'pointer';
  margin: 3px;
  font-size: 1.5rem;
  line-height: .8;
  float: left;
  @media (max-width: 580px) {
    flex-direction: row;
  }
}

.players-scores-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  @media (max-width: 580px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
  }
  @media (min-width: 581px) {
    padding-top: 1.5rem;
  }
}

.category-timer-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid white;
  margin-bottom: 3vh;
  flex-wrap: wrap;
  padding: 10px;
}

.playersDiv {
/*  width: 30px;
  float: left;*/
  background-color: #333333;
}

/*Loading Icon Animation*/
$spin-duration: 1s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

.load {
  margin: 4px 0 0 2px;
}

.loadingRed {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: .2rem solid #ff3385;
    border-top-color: transparent;
    animation: spin $spin-duration infinite linear;
    float: left;
}

.loadingBlue {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: .2rem solid #337ab7;
    border-top-color: transparent;
    animation: spin $spin-duration infinite linear;
    float: left;
}

.all-players-col {
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overflow-scroll {
  display: table;
  overflow-x: auto;
}

.no-wrap {
  white-space: nowrap;
}

.wrap-at-580 {
  @media (max-width: 580px) {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

.margin-right-1-resp {
  @media (max-width: 580px) {
    margin-right: 1rem;
  }
}
